extends layout

block content
    div(class='container')
        div(class='col-md-4')
        div(class='col-md-4')
            form(id='thoughtBox')
                input(type='text' id='thoughtInput' autocomplete='off')
            div(id='stage' class='panel panel-primary')
                div(id='stagedText' class='panel-heading')
                div(class='panel-body')
                    form(id='tagForm')
                        input(type='text' id='tagInput' autocomplete='off')
                    div(id='stagedTags')
            div(id='results')
                ul(id='thoughtList')
        div(class='col-md-4')