doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='https://npmcdn.com/nlp_compromise@latest/builds/nlp_compromise.min.js')
    script(src='/javascripts/thinking.js')
  body
    block content
