body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

#thoughtInput {
    width: 100%;
}

#stage {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    
    opacity: 0;
    transition:opacity 400ms;
}

.tag {
    display: inline-block;
    background-color: #337ab7;
    margin-right: 10px;
}

.tag:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.middleContent {
    text-align: center;
}

#tagInput {
    margin-top: 5px;
    width: 100%;
    font-size: 10pt;
}

#stagedTags {
    margin-top: 5px;
    width: 100%;
}

.thoughtBubble {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}