body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#thoughtInput {
    width: 500px;
}

#stage {
    width: 500px;
    margin-top: 20px;
    background-color: #f2f2f2;
    visibility: hidden;
}

.tag {
    padding-right: 15px;
}